.sign__in__hr {
  margin-top: 0px;
  margin-bottom: 46px;
}

#exampleSelect {
  width: 50%;
  position: relative;
  left: 10%;
}

.progress {
  border-radius: 0px;
}

.date__of__birth {
  position: absolute;
  top: 50%;
  left: 10%;
}
