@import url('https://fonts.googleapis.com/css?family=Rochester&display=swap');

.sign__in__hr {
  margin-top: 0px;
  margin-bottom: 46px;
}

#exampleSelect {
  width: 50%;
  position: relative;
  left: 10%;
}

.progress {
  border-radius: 0px;
}

.date__of__birth {
  position: absolute;
  top: 58%;
  left: 10%;
}

#confirm__password__underline {
  position: absolute;
  top: 60%;
  left: 10%;
}

.error__span {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

.retrain__logo {
  font-family: 'Rochester', cursive;
  font-size: 60px;
}

#exampleSelect {
  width: 320px;
}
