.todays__exercise__container {
  width: 25%;
  height: 100%;
  border-color: black;
  border-width: 0px 2px 0px 0px;
  border-radius: 0px 20px 20px 0px;
  border-style: solid;
  background: white;
}

.calendar__day__div {
}

.results__div {
  position: relative;
  top: 10%;
  font-size: 20px;
}

.individual__results__div {
  margin: 20px;
}

.footer__of__stats {
  top: 20%;
  position: relative;
}
