html {
  background: linear-gradient( #00d2ff 0%, #3a47d5 100%);

}

.App {
  text-align: center;
  background: linear-gradient( #00d2ff 0%, #3a47d5 100%);
}

.navbar__ul{
  margin: 0;
  padding-inline-start: 0px;
}

.navbar{
  margin: 0;
  list-style-type: none;
}