@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rochester&display=swap');
/* font-family: 'Bungee', cursive;
font-family: 'Rubik', sans-serif;
font-family: 'Lato', sans-serif; */

.box {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.68531162464986) 0%,
    rgba(245, 245, 245, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 400px;
  height: 627px;
  border-radius: 5% 5% 5% 5%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.38);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.h4 {
  color: black;
}

.sign__in__logo {
  font-family: 'Rochester', cursive;
  font-size: 60px;
}

.button {
  background-color: #5bd35f; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  outline: 0;
  position: relative;
  top: 35%;
  width: 80%;
  margin-top: 30px;
}

.button:hover {
  background-color: #4caf4f;
}

.email {
  background: rgb(240, 240, 240);
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 70%;
  text-align: left;
  outline: 0;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  border-radius: 3px;
  height: 40px;
  width: 320px;
  padding-left: 20px;
  margin-top: 50px;
}

::-webkit-input-placeholder {
  color: black;
  background: rgb(240, 240, 240);
}

.password {
  background: rgb(240, 240, 240);
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 70%;
  text-align: left;
  outline: 0;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  border-radius: 3px;
  height: 40px;
  width: 320px;
  padding-left: 20px;
}

.sign__in {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 70%;
  text-align: center;
  color: black;
}

.sign__in__hr {
  width: 80%;
}

.sign__up {
  color: black;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  border-radius: 3px;
  width: 360px;
  height: 70px;
  position: relative;
  left: 5%;
  margin-top: 110px;
  padding-top: 20px;
}

.signup__link {
  font-size: 15px;
  font-weight: 500;
}

.signup__link:hover {
  color: pink;
}
