@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.app__clock {
  background: #eee;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  height: 153px;
  padding: 40px;
  width: 1300px;
  float: right;
}
