.homepage__div {
  /* background: linear-gradient(
    to right,
    #232526,
    #414345
  ); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  width: 100%;
}

.flex__container {
  background: white;
  display: flex;
  flex-wrap: wrap;
  width: 1300px;
  justify-content: space-evenly;
  height: 765px;
  float: right;
  position: absolute;
  top: 153px;
  left: 300px;
}

.flex__item {
  height: 200px;
  width: 200px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-wrap: wrap;
}
