.homepage__div {
  background: linear-gradient(
    to right,
    #232526,
    #414345
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
}

.flex__container {
  border-style: solid;
  border-color: black;
  border-width: 1px 0px 1px 0px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  height: 530px;
}

.flex__item {
  height: 200px;
  width: 200px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-wrap: wrap;
}
