.frame__of__eotd {
  border-style: solid;
  border-width: 0px 1px;
  border-radius: 20px 20px 20px 20px;
  height: 100%;
  background: #efefef;
}

.border__div__for__exercise__of__day {
  margin: 10px 10px 10px 10px;
}

.day__of__exercise__div {
  width: 400px;
  display: flex;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  border-color: black;
  background-color: #93a8ac;
  border-style: solid;
  border-width: 1px;
}

.exercise__name__div {
  width: 50%;
  font-size: 14px;
}

.exercise__sets__and__reps {
  float: right;
  width: 50%;
  font-size: 14px;
}

.exercise__div {
  border: 50px;
}

.corresponding__circle {
  border-radius: 50px;
  height: 14px;
  width: 14px;
  float: left;
  position: relative;
  top: 7px;
  margin-right: 10px;
  margin-left: 10px;
}
