@import url('https://fonts.googleapis.com/css?family=Montserrat:800&display=swap');

.day__div {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  background: white;
  width: 50%;
  font-size: 8px;
}

.rep__div {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  background: white;
  width: 50%;
}

.twelve__Week__Div__Container {
  border-style: solid;
  border-color: black;
  border-width: 0px 0px 1px 0px;
  display: flex;
  flex-wrap: wrap;
  width: 1396;
  justify-content: flex-start;
  font-family: 'Montserrat', sans-serif;
}

.calendar__day__div {
  height: 250px;
  width: 227px;
  border-style: solid;
  border-width: 0px 1px 1px 0.1px;
  display: flex;
  flex-wrap: wrap;
}

.calendar__empty__div {
  height: 250px;
  width: 227px;
  border-style: solid;
  border-width: 0px 0.01px 1px 0.1px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.day__of__the_week {
  width: 227px;
  margin-top: 20px;
  border-width: 0px 0px 1px 0px;
  border-color: black;
  border-style: dashed;
  list-style-type: none;
}

.month__and__year {
  text-align: left;
  font-size: 75px;
  font-family: 'Montserrat', sans-serif;
}

.date__of__calendar {
  position: absolute;
  top: 37%;
  right: 50%;
  font-size: 40px;
}
